<launch>
  <!-- declare arg to be passed in -->
  <arg name="env" default="cs_lg"/> 
  <arg name="with_chest_xtion" default="false"/>
  <arg name="mon_nav_config_file"  default="" />
  <arg name="max_bumper_recoveries" default=".inf"/>
  <arg name="wait_reset_bumper_duration" default="0.0"/>
  <arg name="topological_navigation_retries" default="3"/>


  <!-- 2D Navigation -->
  <include file="$(find strands_movebase)/launch/movebase.launch">
      <arg name="map" value="$(find strands_morse)/bham/maps/$(arg env).yaml"/>
      <arg name="with_chest_xtion" value="$(arg with_chest_xtion)"/>
  </include>


</launch>
